:root {
	--main__section-pl-pr: 21.25rem;
	--padding-step: 3.4rem;
	--padding-small-step: 1.5rem;
}

@media screen and (max-width: 1800px) {
	.confirmation-wrapper {
		padding-left: calc(var(--main__section-pl-pr) - var(--padding-step));
		padding-right: calc(var(--main__section-pl-pr) - var(--padding-step));
	}
}

@media screen and (max-width: 1600px) {
	.confirmation-wrapper {
		padding-left: calc(var(--main__section-pl-pr) - var(--padding-step) * 2);
		padding-right: calc(var(--main__section-pl-pr) - var(--padding-step) * 2);
	}
}

@media screen and (max-width: 1400px) {
	.confirmation-wrapper {
		padding-left: calc(var(--main__section-pl-pr) - var(--padding-step) * 3);
		padding-right: calc(var(--main__section-pl-pr) - var(--padding-step) * 3);
	}
}

@media screen and (max-width: 1250px) {
	.confirmation-wrapper {
		padding-left: calc(var(--main__section-pl-pr) - var(--padding-step) * 4);
		padding-right: calc(var(--main__section-pl-pr) - var(--padding-step) * 4);
	}
}

@media screen and (max-width: 1100px) {
	.confirmation-wrapper {
		padding-left: calc(var(--main__section-pl-pr) - var(--padding-step) * 5);
		padding-right: calc(var(--main__section-pl-pr) - var(--padding-step) * 5);
	}

	.confirmation__content-wrapper {
		gap: 0.25rem;
		align-content: space-between;
	}

	.confirmation__content__text {
		width: 70%;
	}

	.confirmation__content__title {
		font-size: 3rem;
	}

	.confirmation__content__logo {
		position: relative;
		flex: 1;
	}

	.confirmation__content__logo__image {
		position: absolute;
		width: 16rem;
		top: -7rem;
		right: 0;
	}
}

@media screen and (max-width: 800px) {
	.confirmation__content__logo__image {
		width: 13rem;
	}
}

@media screen and (max-width: 600px) {
	.confirmation-wrapper {
		padding-left: calc(var(--main__section-pl-pr) - var(--padding-step) * 5 - var(--padding-small-step));
		padding-right: calc(var(--main__section-pl-pr) - var(--padding-step) * 5 - var(--padding-small-step));
	}

	.confirmation__content-wrapper {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.confirmation__content__text {
		width: 100%;
	}

	.confirmation__content__title {
		font-size: 2rem;
	}

	.confirmation__content__caption,
	.confirmation__content__phone {
		font-size: 1.25rem;
		line-height: 2.75rem;
		padding-right: 0;
	}

	.confirmation__content__logo {
		position: static;
		flex: 1;
		align-self: flex-end;
	}

	.confirmation__content__logo__image {
		position: static;
		width: 13rem;
		top: unset;
		right: unset;
	}
}
