:root {
	--main__section-pl-pr: 21.25rem;
	--beige-color: #f2efe8;
	--transition: ease-out 0.1s;
	--common-green-color: #074d43;
}

.confirmation-wrapper {
	display: none;
	margin-top: 10rem;
	padding-top: 6rem;
	padding-bottom: 10rem;
	padding-left: var(--main__section-pl-pr);
	padding-right: var(--main__section-pl-pr);
	background-color: var(--beige-color);
}

.confirmation__content-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 3rem;
}

.confirmation__content__title {
	font-weight: normal;
	font-size: 3.75rem;
	color: var(--common-green-color);
}

.confirmation__content__caption {
	margin-top: 5rem;
	color: var(--common-green-color);
	font-size: 1.5rem;
	line-height: 2.75rem;
	padding-right: 5rem;
}

.confirmation__content__phone {
	font-size: 1.5rem;
	text-decoration: unset;
	color: var(--common-green-color);
	transition: var(--transition);
	white-space: nowrap;
}

.confirmation__content__phone:active {
	opacity: 0.8;
}

.onConfirmationPopup .confirmation-wrapper {
	display: block;
}

.onConfirmationPopup .main {
	display: none;
}

.onConfirmationPopup .common-header {
	border-bottom: none;
}
