:root {
	--padding-step: 3.4rem;
	--padding-small-step: 1.5rem;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
}

@media screen and (max-width: 1800px) {
	.footer {
		padding-left: calc(var(--main__section-pl) + var(--section-wrapper-pl) - (var(--padding-step) * 1));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 1));
	}
}

@media screen and (max-width: 1600px) {
	.footer {
		padding-left: calc(var(--main__section-pl) + var(--section-wrapper-pl) - (var(--padding-step) * 2));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 2));
	}
}

@media screen and (max-width: 1400px) {
	.footer {
		padding-left: calc(var(--main__section-pl) + var(--section-wrapper-pl) - (var(--padding-step) * 3));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 3));
	}
}

@media screen and (max-width: 1250px) {
	.footer {
		padding-left: calc(var(--main__section-pl) + var(--section-wrapper-pl) - (var(--padding-step) * 4));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 4));
	}
}

@media screen and (max-width: 1100px) {
	.footer {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step));
		padding-right: calc(var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step));
	}

	.footer__columns-wrapper {
		flex-direction: column;
		justify-content: flex-start;
	}

	.footer__logo-column {
		align-items: center;
		justify-content: space-between;
	}

	.footer__inner-column {
		justify-content: space-between;
		margin-top: 3.75rem;
	}

	.footer__bottom {
		display: flex;
		align-items: flex-start;
	}

	.footer__bottom__links {
		flex-direction: column;
		gap: 1rem;
		align-items: flex-end;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 600px) {
	.footer {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step) - var(--padding-small-step));
		padding-right: calc(
			var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step) - var(--padding-small-step)
		);
		padding-top: 4rem;
	}

	.footer__logo-column {
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
	}

	.footer__phone {
		font-size: 1.7rem;
	}

	.footer__inner-column {
		flex-direction: column-reverse;
		justify-content: space-between;
		gap: 1.75rem;
	}

	.flex-column-align-right {
		align-items: flex-start;
	}

	.footer__bottom {
		flex-direction: column;
		gap: 1rem;
	}

	.footer__bottom__links {
		align-items: flex-start;
	}
}
