:root {
	--border-color: #d4e585;
	--transition: ease-out 0.1s;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--footer-main-color: #074d43;
	--grey-border-color: #cecbc3;
}

.flex-column-align-right {
	align-items: flex-end;
}

.footer {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	padding-top: 5rem;
	padding-bottom: 4rem;
	padding-left: calc(var(--main__section-pl) + var(--section-wrapper-pl));
	padding-right: var(--section-wrapper-pr);
	border-top: 5px solid var(--border-color);
}

.bg--beige {
	background-color: var(--beige-color);
}

.footer__columns-wrapper {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4.5rem;
}

.footer__logo-column {
	display: flex;
	align-items: flex-start;
}

.footer__logo__link {
	transition: var(--transition);
}

.footer__inner-column {
	display: flex;
	gap: 7rem;
}

.footer__menu__list {
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
}

.footer__menu__item {
	list-style-type: none;
}

.footer__menu__link {
	color: var(--footer-main-color);
	text-decoration: unset;
	font-size: 1rem;
	transition: ease-out 0.1s;
}

.footer__menu__link:hover {
	color: #7dbbb3;
}

.footer__menu__link:active {
	color: #001f1c;
}

.footer__last-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer__phone-wrapper {
	margin-top: 3.125rem;
}

.footer__phone {
	font-size: 1.3125rem;
}

.footer__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 3.4rem;
	border-top: 1px solid var(--grey-border-color);
	color: var(--footer-main-color);
	font-size: 1rem;
}

.footer__bottom__links {
	display: flex;
	gap: 3.25rem;
	align-items: center;
	justify-content: flex-end;
}

.footer__bottom__rights {
	flex: 1;
}
