* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	min-width: 370px;
	scroll-behavior: smooth;
}

.color--inherit {
	background-color: inherit !important;
}

.rotate-180 {
	transform: rotate(180deg);
}

.display-none {
	display: none !important;
}

.media-only {
	display: none;
}

@media screen and (max-width: 1100px) {
	.media-only {
		display: unset;
	}

	.desktop-only {
		display: none !important;
	}
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: #074d4380;
	outline: 1px solid slategrey;
}
