:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--blog-green-color: #3b996d;
	--light-grey-color: #dadada;
	--transition: ease-out 0.1s;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--common-green-color: #074d43;
	--common-beige: #f2efe8;
}

.header {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	border-bottom: 1px solid var(--light-grey-color);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.common-header {
	border-bottom-color: var(--common-beige);
}

/* Start of top-header section */

.top-header {
	background: center / cover no-repeat url(../assets/images/header/top-header-bg.png);
	padding-top: 3rem;
	padding-bottom: 7rem;
	transition: var(--transition);
	padding-left: var(--main__section-pl);
	padding-right: var(--section-wrapper-pr);
}

.common-header .top-header {
	background: var(--white-color);
	padding-bottom: 2.75rem;
}

.onScrolled .top-header {
	background: #3b996d !important;
	padding-top: 1.4375rem !important;
	padding-bottom: 1.4375rem !important;
}

.top-header__menu,
.top-header__content {
	display: block;
	padding-left: var(--section-wrapper-pl);
	transition: var(--transition);
}

.onScrolled .top-header__content {
	display: none;
}

.top-header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-header__menu__logo-wrapper {
	flex: 1;
}

.top-header__menu__logo {
	transition: var(--transition);
}

.top-header__menu__links-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4rem;
	margin-right: 5rem;
}

.top-header__menu__link {
	color: var(--white-color);
	text-decoration: unset;
	font-size: 1.0625rem;
	display: block;
	height: 1.75rem;
	border-bottom: 1px solid transparent;

	transition: var(--transition);
}

.common-header .top-header__menu__link {
	color: var(--common-green-color);
}

.top-header__menu__button {
	border: 0;
	border-radius: 0.25rem;
	background: transparent;
	color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: var(--transition);
}

.top-header__menu__item__button {
	width: 1.5rem;
	height: 1.5rem;
}

.top-header__content {
	margin-top: 5rem;
	color: var(--white-color);
}

.top-header__content__location {
	font-size: 1.5rem;
	line-height: 2.25rem;
	position: relative;
}

.top-header__content__location::after {
	content: url(../assets/images/header/location-icon.svg);
	margin-left: 1.8rem;
	position: absolute;
	bottom: -2px;
}

.top-header__content__title-wrapper {
	margin-top: 9rem;
}

.top-header__content__title {
	font-size: 4.5rem;
	line-height: 5.3rem;
	font-weight: normal;
}

.top-header__content__link-wrapper {
	margin-top: 8rem;
}

.top-header__content__link {
	font-size: 1.5rem;
	text-decoration: unset;
	transition: var(--transition);
	position: relative;
	cursor: pointer;
}

.top-header__content__link::after {
	content: url(../assets/images/header/arrow_right.svg);
	margin-left: 1.8rem;
	position: absolute;
	top: -1px;
	transition: var(--transition);
}

.top-header__content__link:hover::after {
	margin-left: 1rem;
}

.top-header__content__link:active::after {
	margin-left: 4rem;
}

.top-header__content__link-underline {
	width: 9.25rem;
	height: 3px;
	background-color: var(--white-color);
	margin-top: 0.75rem;
	margin-left: 3px;
}

/* links hover and active */

.top-header__menu__link:hover {
	border-bottom: 1px solid currentColor;
}

.top-header__menu__button:hover {
	opacity: 0.8;
}

.top-header__menu__link:active,
.top-header__menu__button:active {
	transform: scale(0.98);
}

/* Start of bottom-header section */

.bottom-header {
	padding-top: 1.875rem;
	background-color: var(--white-color);
	transition: var(--transition);
	padding-left: var(--main__section-pl);
	padding-right: var(--section-wrapper-pr);
}

.common-header .bottom-header {
	padding-top: 1.875rem;
	padding-bottom: 1.25rem;
	background-color: var(--common-beige);
}

.onScrolled .bottom-header {
	padding-top: 1.4rem !important;
}

.bottom-header__menu {
	padding-left: var(--section-wrapper-pl);
}

.bottom-header__menu__list {
	display: flex;
	justify-content: space-between;
	margin-left: -1.25rem;
	margin-right: -1.25rem;
}

.bottom-header__menu__item {
	list-style-type: none;
}

.bottom-header__menu__item__link {
	color: var(--black-color);
	text-decoration: unset;
	font-size: 1.0625rem;
	display: inline-block;
	padding: 0 1.25rem;
	height: 3.25rem;
	margin-bottom: -2px;
	transition: var(--transition);
}

.dash {
	padding: 0 1rem;
	color: var(--black-color);
	font-size: 1.0625rem;
}

.common-header .bottom-header__menu__list {
	margin-left: 0;
	margin-right: 0;
}

.common-header .bottom-header__menu__item__link {
	padding: 0.25rem;
	height: 2.5rem;
}

.common-header .bottom-header__menu__item__link {
	margin-bottom: 0;
}

.onScrolled .bottom-header__menu__item__link {
	height: 2.5rem !important;
	margin-bottom: -1px !important;
}

.bottom-header__menu__item__link:hover {
	border-bottom: 1px solid var(--blog-green-color);
}

.bottom-header__menu__item__link:active {
	opacity: 0.5;
}
