:root {
	--padding-step: 3.4rem;
	--padding-small-step: 1.5rem;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
}

@media screen and (max-width: 1800px) {
	.top-header,
	.bottom-header {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 1));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 1));
	}
}

@media screen and (max-width: 1600px) {
	.top-header,
	.bottom-header {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 2));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 2));
	}
}

@media screen and (max-width: 1400px) {
	.top-header,
	.bottom-header {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 3));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 3));
	}
}

@media screen and (max-width: 1250px) {
	.top-header,
	.bottom-header {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 4));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 4));
	}
}

@media screen and (max-width: 1100px) {
	.top-header,
	.bottom-header {
		padding-left: 0;
		padding-right: calc(var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step));
	}

	.top-header__menu,
	.top-header__content,
	.bottom-header__menu {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step));
	}

	.top-header {
		padding-top: 2.5rem;
	}

	.top-header__logo__image {
		width: 150px;
	}

	.top-header__menu__links-wrapper {
		display: none;
	}

	.top-header__content__location {
		font-size: 1.2rem;
		line-height: 2.25rem;
	}

	.top-header__content__location::after {
		margin-left: 1.2rem;
		transform: scale(0.8);
	}

	.top-header__content__title-wrapper {
		margin-top: 13rem;
	}

	.top-header__content__title {
		font-size: 3rem;
		line-height: 3.7rem;
	}

	.top-header__content__link-wrapper {
		margin-top: 4.5rem;
	}

	.bottom-header__menu__item__link {
		font-size: 1rem;
		margin-bottom: -1px;
		height: 3rem;
	}
}

@media screen and (max-width: 600px) {
	.top-header,
	.bottom-header {
		padding-right: calc(
			var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step) - var(--padding-small-step)
		);
	}

	.top-header__menu,
	.top-header__content,
	.bottom-header__menu {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step) - var(--padding-small-step));
	}

	.top-header__logo__image {
		width: 195px;
	}

	.top-header__menu__item__button {
		width: 2.2rem;
		height: 2.2rem;
	}

	.top-header__content {
		margin-top: 3.5rem;
	}

	.top-header__content__location {
		font-size: 1.3rem;
		line-height: 2.5rem;
	}

	.top-header__content__location::after {
		display: none;
	}

	.top-header__content__title {
		font-size: 2.5rem;
		line-height: 3.5rem;
	}

	.top-header__content__link {
		font-size: 1.4rem;
	}

	.bottom-header {
		padding-top: 3rem;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.bottom-header::-webkit-scrollbar,
	.bottom-header::-webkit-scrollbar-track,
	.bottom-header::-webkit-scrollbar-thumb {
		display: none;
	}

	.onScrolled .bottom-header {
		padding-top: 2rem !important;
	}

	.bottom-header__menu__item__link {
		margin-bottom: -1px;
		height: 4.2rem;
	}

	.onScrolled .bottom-header__menu__item__link {
		height: 3.5rem !important;
		margin-bottom: -1px !important;
	}
}
