:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--beige-color: #f2efe8;
	--blog-green-color: #3b996d;
	--body-green-color: #01ac69;
	--dark-blue-color: #0b121c;
	--grey-color: #757575;
	--interview-black-color: #0f0f0f;
	--light-grey-color: #dadada;
	--transition: ease-out 0.1s;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
}

.main {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin-top: 55rem;
	transition: var(--transition);
}

.common-main {
	background-color: var(--beige-color);
	margin-top: 16rem;
}

.common-main__title {
	padding-left: var(--section-wrapper-pl);
	color: var(--common-green-color);
	font-weight: normal;
	font-size: 3.75rem;
	max-width: 60%;
}

.onScrolled .main {
	margin-top: 16rem !important;
}

.hidden {
	visibility: hidden;
}

/* Coloring */

.section--colored {
	background-color: var(--beige-color) !important;
}

.blog__card--green {
	background-color: var(--blog-green-color) !important;
}

.bg--white {
	background-color: var(--white-color);
}

.bg--beige {
	background-color: var(--beige-color);
}

.white {
	color: var(--white-color) !important;
}

.program__days-list__item__link--green {
	color: var(--body-green-color) !important;
}

.main__section {
	padding-left: var(--main__section-pl);
}

.main__section__bg {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.section__title {
	font-size: 2.25rem;
	font-weight: normal;
	color: var(--dark-blue-color);
}

.section__title--active {
	font-size: 1.875rem;
	padding-bottom: 1.4375rem;
}

.section__title--active-line {
	width: 5.4rem;
	height: 5px;
	background-color: var(--body-green-color);
}

.mission__content--highlight {
	color: var(--body-green-color);
}

/* Mission section */

.mission-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);
}

.mission__column {
	width: 50%;
	padding-right: 2.5rem;
}

.mission__subtitle {
	margin-top: 1.75rem;
	font-size: 1.25rem;
	font-weight: normal;
	line-height: 2rem;
}

.mission__content {
	padding: 3px 0;
	font-size: 1.3rem;
	line-height: 3rem;
}

/* Partners section */

.partners-wrapper {
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.partners__content-container {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
	gap: 1.25rem;
}

.partners__card__image-wrapper {
	background-color: var(--white-color);
	height: 10.625rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.partners__card__caption {
	text-align: center;
	padding: 1.875rem 1.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--dark-blue-color);
}

.partners__card__link {
	font-size: 1rem;
	cursor: pointer;
	text-decoration: unset;
	color: var(--dark-blue-color);
	transition: var(--transition);
}

.partners__card__link::after {
	content: url(../assets/images/main/partners/partners-arrow.png);
	margin-left: 1.25rem;
	transition: var(--transition);
}

.partners__card__link:hover {
	opacity: 0.6;
}

.partners__card__link:active {
	opacity: unset;
}

.partners__card__link:hover::after {
	margin-left: 1rem;
	margin-right: 0.25rem;
}

.partners__card__link:active::after {
	margin-left: 2.25rem;
	margin-right: -1rem;
}

/* Program section */

.program__header {
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);
	display: flex;
	justify-content: space-between;
}

.program__days-list {
	display: flex;
	justify-content: flex-end;
	gap: 2.5rem;
}

.program__days-list__item {
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.program__events-container {
	border-top: 1px solid var(--light-grey-color);
	margin-top: 3.75rem;
}

.program__event {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);
	display: flex;
	gap: 5rem;
	justify-content: space-between;
	border-bottom: 1px solid var(--light-grey-color);
	background-color: var(--white-color);
	cursor: pointer;
	transition: var(--transition);
}

.program__event:hover {
	background-color: var(--blog-green-color);
}

.reverse-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 5rem;
	flex: 1;
}

.program__event__speaker {
	display: flex;
	gap: 1.25rem;
	width: 35%;
}

.program__event__speaker__avatar {
	width: 5rem;
	height: 5rem;
}

.program__event__speaker__caption {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.program__event__speaker__name {
	font-size: 1.3rem;
}

.program__event:hover .program__event__speaker__name,
.program__event:hover .program__event__speaker__position,
.program__event:hover .program__event__date,
.program__event:hover .program__event__time,
.program__event:hover .program__event__title {
	color: var(--white-color);
}

.program__event__speaker__position {
	margin-top: 0.25rem;
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--grey-color);
}

.program__event__title {
	flex: 1;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 2.25rem;
}

.program__event__date {
	font-size: 1.5rem;
	text-align: end;
}

.program__event__time {
	text-align: end;
	font-size: 1rem;
	color: var(--grey-color);
	margin-top: 0.75rem;
}

/* Blog */

.blog__header {
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-nav-link {
	font-size: 1.1875rem;
	line-height: 1.5rem;
	cursor: pointer;
	text-decoration: unset;
	color: var(--dark-blue-color);
	padding: 0.25rem;
	border-bottom: 3px solid transparent;
	transition: var(--transition);
}

.section-nav-link:hover {
	border-bottom: 3px solid var(--blog-green-color);
}

.blog__container {
	margin-top: 7rem;
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
	gap: 3.5rem 1.25rem;
}

.blog__card__link {
	background-color: var(--white-color);
	text-decoration: unset;
	border-bottom: 3px solid var(--blog-green-color);
	transition: var(--transition);
}

.blog__card {
	padding: 0 1.25rem 3.25rem;
	background-color: var(--white-color);
}

.blog__card__link:hover .blog__card {
	background-color: var(--blog-green-color);
}

.blog__card__image {
	margin-top: -1.25rem;
	width: 100%;
	transition: var(--transition);
}

.blog__card__link:hover .blog__card__image {
	margin-top: -2.25rem;
	padding-bottom: 1rem;
}

.blog__card__date {
	color: var(--grey-color);
	font-size: 1rem;
	margin-top: 1.75rem;
}

.blog__card__title {
	font-size: 1.3125rem;
	color: var(--dark-blue-color);
	margin-top: 1.625rem;
	line-height: 1.75rem;
}

.blog__card__link:hover .blog__card__date,
.blog__card__link:hover .blog__card__title {
	color: var(--white-color);
}

/* Interview */

.interview__wrapper {
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);
	display: flex;
	justify-content: space-between;
	gap: 8rem;
}

.interview__title-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.interview__header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.interview__pagination {
	display: flex;
	align-items: center;
	align-content: center;
	gap: 0.25rem;
}

.interview__pagination__button {
	border: 0;
	border-radius: 0.25rem;
	background: transparent;
	color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: var(--transition);
}

.interview__pagination__button:hover > img {
	filter: invert(80%) sepia(30%) saturate(1000%) hue-rotate(40deg);
}

.interview__pagination__button:active > img {
	filter: invert(80%) sepia(30%) saturate(1000%) hue-rotate(-40deg);
}

.interview__pagination__text {
	font-size: 0.8125rem;
	color: var(--interview-black-color);
	letter-spacing: 0.25rem;
	direction: rtl;
	text-indent: -0.25rem;
}

.interview__content {
	position: relative;
	background-image: url(../assets/images/main/interview/interview-desktop-image.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.interview__content--media {
	position: relative;
	background-image: url(../assets/images/main/interview/interview-tablet-image.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 2.5rem;
}

.interview__content__image {
	width: 100%;
}

.hidden-mask {
	width: 100%;
}

.interview__content__link {
	display: block;
	width: 100%;
	height: 100%;
}

.interview__content__title {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 7%;
	font-size: 1.5rem;
	line-height: 2rem;
	color: var(--white-color);
	font-weight: normal;
}

.mobile-only {
	display: none;
}

/* anchors  */

.anchor {
	display: block;
	position: relative;
	top: -7rem;
	visibility: hidden;
}
