:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--beige-color: #f2efe8;
	--blog-green-color: #3b996d;
	--body-green-color: #01ac69;
	--dark-blue-color: #0b121c;
	--grey-color: #757575;
	--interview-black-color: #0f0f0f;
	--light-grey-color: #dadada;
	--common-green-color: #074d43;
	--transition: ease-out 0.1s;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--form-wrapper-pl: 15rem;
	--required-color: #e31e24;
	--label-subtitle-color: #858585;
	--grey-button-color: #f5f5f5;

	--date-color: #959595;
	--caption-color: #888888;
}

.blog-article {
	padding-left: var(--main__section-pl);
	padding-top: 2rem;
	padding-bottom: 7rem;
}

.blog-article__main-wrapper {
	margin-top: 4rem;
	background-color: var(--white-color);
	display: flex;
	gap: 7.75rem;
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);
	padding-top: 4rem;
	padding-bottom: 15rem;
}

.blog-article__article {
	flex: 1;
}

.blog-article__aside {
	width: 20%;
}

.blog-article__article__date {
	color: var(--date-color);
	font-size: 1rem;
}

.blog-article__article__image-wrapper {
	margin-top: 3.25rem;
}

.blog-article__article__image {
	width: 100%;
}

.blog-article__article__image-caption {
	color: var(--caption-color);
	font-size: 1rem;
	margin-top: 1.6rem;
}

.blog-article__article__text {
	margin-top: 3rem;
}

.blog-article__article__text--large {
	font-size: 1.3125rem;
	color: var(--black-color);
	line-height: 2.25rem;
	padding: 1rem 0;
}

.blog-article__article__text--small {
	color: var(--black-color);
	line-height: 1.875rem;
	font-size: 1rem;
	padding: 1rem 0;
}

.blog-article__article__text__title-2 {
	color: var(--black-color);
	font-size: 1.875rem;
	font-weight: normal;
	padding: 1rem 0;
}

.blog-article__article__text__title-3 {
	color: var(--black-color);
	font-size: 1.5rem;
	font-weight: normal;
	padding: 1rem 0;
}

.blog-article__article__text__ul,
.blog-article__article__text__ol {
	list-style-position: inside;
	padding: 1rem 0;
}

.blog-article__article__text__ol {
	counter-reset: counter;
}

.blog-article__article__text__li {
	line-height: 1.875rem;
	color: var(--black-color);
	font-size: 1rem;
	list-style-type: none;
}

.blog-article__article__text__li::before {
	margin-right: 0.4rem;
	color: var(--blog-green-color);
}

.blog-article__article__text__ul .blog-article__article__text__li::before {
	content: '\2022';
}

.blog-article__article__text__ol .blog-article__article__text__li::before {
	counter-increment: counter;
	content: counter(counter);
}

.blog-article__aside__title {
	color: var(--black-color);
	font-size: 1.3125rem;
	font-weight: normal;
}

.blog-article__aside__container {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	gap: 3.4rem;
}

.blog-article__aside__item__date {
	color: var(--date-color);
	font-size: 1rem;
}

.blog-article__aside__item__title {
	font-size: 1.1875rem;
	color: var(--black-color);
	font-weight: normal;
	line-height: 1.875rem;
	margin-top: 1.5rem;
}

.blog-article__aside__item__link {
	text-decoration: unset;
	transition: var(--transition);
}

.blog-article__media-container {
	display: none;
	padding-bottom: 3rem;
}
