:root {
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--form-wrapper-pl: 15rem;
	--padding-step: 3.4rem;
	--padding-small-step: 1.5rem;
}

@media screen and (max-width: 1800px) {
	.blog {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 1));
	}

	.blog__pagination {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 1));
	}
}

@media screen and (max-width: 1600px) {
	.blog {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 2));
	}

	.blog__pagination {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 2));
	}
}

@media screen and (max-width: 1400px) {
	.blog {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 3));
	}

	.blog__pagination {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 3));
	}
}

@media screen and (max-width: 1250px) {
	.blog {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 4));
	}

	.blog__pagination {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 4));
	}
}

@media screen and (max-width: 1100px) {
	.blog {
		padding-left: 0;
	}

	.blog__pagination {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step));
		padding-right: calc(var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step));
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.common-main .blog__container {
		margin-top: 5rem;
	}
}

@media screen and (max-width: 600px) {
	.blog__pagination {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step) - var(--padding-small-step));
		padding-right: calc(
			var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step) - var(--padding-small-step)
		);
		padding-bottom: 0;
		gap: 1.5rem;
	}

	.blog__pagination__button {
		width: 3.5rem;
		height: 3.5rem;
	}
}
