:root {
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--form-wrapper-pl: 15rem;
	--padding-step: 3.4rem;
	--padding-small-step: 1.5rem;
}

@media screen and (max-width: 1800px) {
	.interviews {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 1));
	}

	.interviews__container,
	.interviews__pagination {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 1));
	}
}

@media screen and (max-width: 1600px) {
	.interviews {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 2));
	}

	.interviews__container,
	.interviews__pagination {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 2));
	}

	.interviews__container {
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
	}

	.interviews__item__content__title {
		font-size: 1.25rem;
		line-height: 2rem;
		margin-top: 0.75rem;
	}
}

@media screen and (max-width: 1400px) {
	.interviews {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 3));
	}

	.interviews__container,
	.interviews__pagination {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 3));
	}
}

@media screen and (max-width: 1250px) {
	.interviews {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 4));
	}

	.interviews__container,
	.interviews__pagination {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 4));
	}
}

@media screen and (max-width: 1100px) {
	.interviews {
		padding-left: 0;
	}

	.interviews__container,
	.interviews__pagination {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step));
		padding-right: calc(var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step));
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.interviews__container {
		grid-template-columns: 1fr;
	}

	.common-main .interviews__container {
		margin-top: 1rem;
	}

	.interviews__item__content__title {
		font-size: 1.5rem;
		line-height: 2.25rem;
		margin-top: 1rem;
	}
}

@media screen and (max-width: 600px) {
	.interviews__container,
	.interviews__pagination {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step) - var(--padding-small-step));
		padding-right: calc(
			var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step) - var(--padding-small-step)
		);
	}

	.interviews__item__content__title {
		font-size: 1rem;
		line-height: 1.5rem;
		margin-top: 0.75rem;
	}

	.interviews__pagination {
		padding-top: 0;
		padding-bottom: 3rem;
	}

	.interviews__pagination__button {
		width: 3.5rem;
		height: 3.5rem;
	}
}
