:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--beige-color: #f2efe8;
	--blog-green-color: #3b996d;
	--body-green-color: #01ac69;
	--dark-blue-color: #0b121c;
	--grey-color: #757575;
	--interview-black-color: #0f0f0f;
	--light-grey-color: #dadada;
	--common-green-color: #074d43;
	--transition: ease-out 0.1s;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--form-wrapper-pl: 15rem;
	--required-color: #e31e24;
	--label-subtitle-color: #858585;
	--grey-button-color: #f5f5f5;
}

.registration {
	padding-left: var(--main__section-pl);
	padding-top: 2rem;
}

.registration__form-wrapper {
	margin-top: 4.25rem;
	padding-left: var(--form-wrapper-pl);
	padding-right: var(--section-wrapper-pr);
	background-color: var(--white-color);
	padding-top: 5rem;
	padding-bottom: 7rem;
}

.registration__form__input-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 7rem;
	margin-top: 2rem;
}

.registration__form__label,
.registration__form__heading {
	color: var(--black-color);
	font-size: 1.0625rem;
	font-weight: normal;
	width: 25%;
}

.registration__form__heading {
	margin-top: 3.5rem;
	display: block;
}

.required::after {
	content: '*';
	margin-left: 0.25rem;
	color: var(--required-color);
}

.registration__form__input {
	flex: 1;
	height: 3.75rem;
	border: 1px solid var(--light-grey-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--white-color);
	font-size: 1.5rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	position: relative;
}

.date-picker::-webkit-calendar-picker-indicator {
	opacity: 0.1;
	cursor: pointer;
}

.select {
	background: url(../assets/images/registration/arrow_drop_down.png) 98% / 4% no-repeat var(--white-color);
}

.registration__form__input:focus-visible {
	outline: var(--common-green-color) auto 1px;
}

.registration__form__label__subtitle {
	font-size: 0.8rem;
	margin-top: 0.4rem;
	color: var(--label-subtitle-color);
}

.registration__form__upload-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 7rem;
	margin-top: 2.5rem;
	padding-bottom: 4.7rem;
	border-bottom: 1px solid var(--light-grey-color);
}

.registration__form__upload__input-wrapper {
	width: 25%;
	padding-right: 3rem;
}

.registration__form__upload__input__photo-container {
	position: relative;
}

.registration__form__upload__input__photo-mask {
	width: 100%;
}

.registration__form__upload__input__photo-placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.registration__form__upload__label {
	margin-top: 2rem;
	border: none;
	background-color: var(--grey-button-color);
	display: inline-block;
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
	width: 100%;
	text-align: center;
	transition: var(--transition);
}

.registration__form__upload__label:active {
	opacity: 0.8;
	transform: scale(0.98);
}

.registration__form__upload__input {
	display: none;
}

.registration__form__upload__description {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2.25rem;
}

.registration__form__upload__description__text,
.registration__form__upload__description__li {
	font-size: 1.1rem;
	line-height: 1.75rem;
}

.registration__form__upload__description__ul {
	margin-top: 0.75rem;
}

.registration__form__upload__description__li {
	list-style-type: none;
}

.registration__form__upload__description__li::before {
	content: '\2014';
	margin-right: 0.4rem;
}

.registration__form__upload__description__result {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.registration__form__upload__description__result__caption {
	color: var(--grey-color);
}

.registration__form__submit-wrapper {
	display: flex;
	align-items: center;
	gap: 7rem;
	margin-top: 4rem;
}

.registration__form__submit__button-wrapper {
	width: 25%;
}

.registration__form__submit__button {
	background-color: var(--blog-green-color);
	color: var(--white-color);
	border: none;
	outline: none;
	padding: 1.25rem 1.75rem;
	font-size: 1.1875rem;
	cursor: pointer;
	transition: var(--transition);
}

.registration__form__submit__button:active {
	opacity: 0.9;
	transform: scale(0.98);
}

.registration__form__submit__caption {
	flex: 1;
	font-size: 1rem;
	line-height: 1.5rem;
}

.registration__form__submit__caption__link {
	color: var(--blog-green-color);
	text-decoration: unset;
	transition: var(--transition);
}

.registration__form__submit__caption__link:hover {
	opacity: 0.9;
}
