:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--beige-color: #f2efe8;
	--blog-green-color: #3b996d;
	--body-green-color: #01ac69;
	--dark-blue-color: #0b121c;
	--grey-color: #757575;
	--interview-black-color: #0f0f0f;
	--light-grey-color: #dadada;
	--common-green-color: #074d43;
	--transition: ease-out 0.1s;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--form-wrapper-pl: 15rem;
	--required-color: #e31e24;
	--label-subtitle-color: #858585;
	--grey-button-color: #f5f5f5;
}

.interviews {
	padding-left: var(--main__section-pl);
	padding-top: 2rem;
}

.interviews__container {
	margin-top: 4rem;
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.25rem;
}

.interviews__item {
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
}

.interviews__item--bg-1 {
	background-image: url(../assets/images/interviews/interviews-thumbnail-desktop-1.png);
}

.interviews__item--bg-2 {
	background-image: url(../assets/images/interviews/interviews-thumbnail-desktop-2.png);
}

.interviews__item--bg-3 {
	background-image: url(../assets/images/interviews/interviews-thumbnail-desktop-3.png);
}

.interviews__item--bg-4 {
	background-image: url(../assets/images/interviews/interviews-thumbnail-desktop-4.png);
}

.interviews__item__link {
	text-decoration: unset;
	transition: var(--transition);
}

.interviews__item__image {
	width: 100%;
}

.interviews__item__content {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 7%;
}

.interviews__item__content__date {
	color: var(--white-color);
	font-size: 1rem;
}

.interviews__item__content__title {
	color: var(--white-color);
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 2.25rem;
	margin-top: 1rem;
}

.interviews__pagination {
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.interviews__pagination__button {
	background-color: transparent;
	color: var(--black-color);
	border: none;
	outline: none;
	width: 3.125rem;
	height: 3.125rem;
	font-size: 1rem;
	cursor: pointer;
	transition: var(--transition);
}

.interviews__pagination__button--active {
	background-color: var(--white-color);
}
