:root {
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--form-wrapper-pl: 15rem;
	--padding-step: 3.4rem;
	--padding-small-step: 1.5rem;
}

@media screen and (max-width: 1800px) {
	.blog-article {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 1));
	}

	.blog-article__main-wrapper {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 1));
	}
}

@media screen and (max-width: 1600px) {
	.blog-article {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 2));
	}

	.blog-article__main-wrapper {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 2));
	}
}

@media screen and (max-width: 1400px) {
	.blog-article {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 3));
	}

	.blog-article__main-wrapper {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 3));
	}

	.blog-article__main-wrapper {
		gap: 5rem;
	}
}

@media screen and (max-width: 1250px) {
	.blog-article {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 4));
	}

	.blog-article__main-wrapper {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 4));
	}

	.blog-article__main-wrapper {
		gap: 4rem;
	}
}

@media screen and (max-width: 1100px) {
	.blog-article {
		padding-left: 0;
		padding-bottom: 0;
	}

	.blog-article__main-wrapper {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step));
		padding-right: calc(var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step));
		flex-direction: column;
		padding-bottom: 2rem;
	}

	.blog-article__aside {
		display: none;
	}

	.blog-article__media-container {
		display: grid;
	}
}

@media screen and (max-width: 600px) {
	.blog-article__main-wrapper {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step) - var(--padding-small-step));
		padding-right: calc(
			var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step) - var(--padding-small-step)
		);
		flex-direction: column;
		padding-bottom: 2rem;
	}
}
