:root {
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--form-wrapper-pl: 15rem;
	--padding-step: 3.4rem;
	--padding-small-step: 1.5rem;
}

@media screen and (max-width: 1800px) {
	.registration {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 1));
	}

	.registration__form-wrapper {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 1));
	}
}

@media screen and (max-width: 1600px) {
	.registration {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 2));
	}

	.registration__form-wrapper {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 2));
	}
}

@media screen and (max-width: 1400px) {
	.registration {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 3));
	}

	.registration__form-wrapper {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 3));
	}
}

@media screen and (max-width: 1250px) {
	.registration {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 4));
	}

	.registration__form-wrapper {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 4));
	}
}

@media screen and (max-width: 1100px) {
	.registration {
		padding-left: 0;
	}

	.registration__form-wrapper,
	.common-main__title {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step));
	}

	.registration__form-wrapper {
		margin-top: 4rem;
		padding-right: calc(var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step));
		padding-top: 1.5rem;
		padding-bottom: 5rem;
	}

	.registration__form__input-wrapper {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 1.5rem;
		margin-top: 2.75rem;
	}

	.registration__form__label {
		font-size: 1rem;
		width: 100%;
	}

	.registration__form__heading {
		display: none;
	}

	.registration__form__input {
		flex: unset;
		width: 100%;
	}

	.registration__form__label__subtitle {
		margin-top: 0.3rem;
	}

	.registration__form__upload-wrapper {
		gap: 4.5rem;
		margin-top: 3rem;
	}

	.registration__form__upload__input-wrapper {
		padding-right: 0;
		width: 30%;
	}

	.registration__form__submit-wrapper {
		gap: 4rem;
	}

	.registration__form__submit__button-wrapper {
		width: 40%;
	}

	.registration__form__submit__button {
		padding: 1.35rem 3rem;
	}
}

@media screen and (max-width: 800px) {
	.registration__form__submit__button {
		padding: 1rem 1.75rem;
		font-size: 1rem;
	}
}

@media screen and (max-width: 600px) {
	.registration__form-wrapper {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step) - var(--padding-small-step));
	}

	.registration__form-wrapper {
		margin-top: 4rem;
		padding-right: calc(
			var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step) - var(--padding-small-step)
		);
		padding-top: 1.5rem;
		padding-bottom: 5rem;
	}

	.registration__form__upload-wrapper {
		flex-direction: column;
		justify-content: flex-start;
		gap: 2rem;
	}

	.registration__form__upload__input-wrapper {
		width: 100%;
		padding-right: 0;
	}

	.registration__form__upload__label {
		margin-top: 1rem;
	}

	.registration__form__upload__description__result {
		display: none;
	}

	.registration__form__submit-wrapper {
		flex-direction: column;
		gap: 2rem;
		margin-top: 2rem;
	}

	.registration__form__submit__button-wrapper {
		width: 100%;
	}

	.registration__form__submit__button {
		width: 100%;
		padding: 1.25rem;
		font-size: 1rem;
	}

	.registration__form__submit__caption {
		line-height: 1.75rem;
	}
}
