:root {
	--padding-step: 3.4rem;
	--padding-small-step: 1.5rem;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--grey-color: #757575;
	--white-color: #ffffff;
}

@media screen and (max-width: 1800px) {
	.main__section {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 1));
	}

	.mission-wrapper,
	.partners-wrapper,
	.program__header,
	.program__event,
	.blog__header,
	.blog__container,
	.interview__wrapper {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 1));
	}
}

@media screen and (max-width: 1600px) {
	.main__section {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 2));
	}

	.mission-wrapper,
	.partners-wrapper,
	.program__header,
	.program__event,
	.blog__header,
	.blog__container,
	.interview__wrapper {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 2));
	}
}

@media screen and (max-width: 1400px) {
	.main__section {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 3));
	}

	.mission-wrapper,
	.partners-wrapper,
	.program__header,
	.program__event,
	.blog__header,
	.blog__container,
	.interview__wrapper,
	.common-main__title {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 3));
	}

	.common-main__title {
		font-size: 3.25rem;
		max-width: unset;
	}
}

@media screen and (max-width: 1250px) {
	.main__section {
		padding-left: calc(var(--main__section-pl) - (var(--padding-step) * 4));
	}

	.mission-wrapper,
	.partners-wrapper,
	.program__header,
	.program__event,
	.blog__header,
	.blog__container,
	.interview__wrapper,
	.common-main__title {
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 4));
	}
}

@media screen and (max-width: 1100px) {
	.main__section {
		padding-left: 0;
	}

	.mission-wrapper,
	.partners-wrapper,
	.program__header,
	.program__event,
	.blog__header,
	.blog__container,
	.interview__wrapper,
	.common-main__title {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step));
		padding-right: calc(var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step));
	}

	.common-main {
		margin-top: 14rem;
	}

	.common-main__title {
		font-size: 2.5rem;
	}

	.mission-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 2.25rem;
		padding: 0 3.5rem;
	}

	.mission__column {
		width: 100%;
		padding-right: 2.5rem;
	}

	.mission__subtitle {
		font-size: 1.3rem;
		line-height: 2.5rem;
	}

	.mission__content {
		padding: 0;
		line-height: 2.5rem;
	}

	.partners-wrapper {
		display: block;
	}

	.partners__content-container {
		margin-top: 2.5rem;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		gap: 1rem;
	}

	.program__header {
		display: flex;
		justify-content: space-between;
	}

	.reverse-wrapper {
		flex-direction: column-reverse;
		justify-content: flex-start;
		gap: 1.5rem;
	}

	.program__event__speaker {
		width: 100%;
	}

	.program__event__speaker__avatar {
		width: 4.25rem;
		height: 4.25rem;
	}

	.program__event__speaker__name {
		font-size: 1rem;
	}

	.program__event__title::before {
		content: 'Тема';
		display: block;
		color: var(--grey-color);
		font-size: 1rem;
		line-height: 1.25rem;
	}

	.program__event__title.white::before {
		color: inherit;
	}

	.program__event__date {
		font-size: 1rem;
	}

	.blog__link {
		font-size: 1rem;
	}

	.interview__content {
		display: none;
	}

	.interview__title-column {
		flex: 1;
	}

	.interview__pagination {
		margin-top: 2.5rem;
		justify-content: center;
	}
}

@media screen and (max-width: 800px) {
	.blog__card__title {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 600px) {
	.mission-wrapper,
	.partners-wrapper,
	.program__header,
	.program__event,
	.blog__header,
	.blog__container,
	.interview__wrapper,
	.common-main__title {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step) - var(--padding-small-step));
		padding-right: calc(
			var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step) - var(--padding-small-step)
		);
	}

	.main__section__bg {
		padding-top: 4.5rem;
		padding-bottom: 0;
	}

	.common-main__title {
		font-size: 2rem;
	}

	.mission,
	.partners,
	.blog,
	.interview {
		padding-bottom: 4.5rem;
	}

	.section__title {
		font-size: 1.8rem;
	}

	.mission__column {
		padding-right: 0;
	}

	.partners-wrapper {
		overflow-x: hidden;
		padding-left: 0;
		padding-right: 0;
	}

	.partners-wrapper .section__title {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step) - var(--padding-small-step));
		padding-right: calc(
			var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step) - var(--padding-small-step)
		);
	}

	.partners__content-container {
		flex: unset;
		display: flex;
		grid-template-columns: unset;
		gap: 1.25rem;
		overflow-x: auto;
		overflow-y: hidden;
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step) - var(--padding-small-step));
	}

	.partners__content-container::-webkit-scrollbar,
	.partners__content-container::-webkit-scrollbar-track,
	.partners__content-container::-webkit-scrollbar-thumb {
		display: none;
	}

	.partners__card {
		min-width: 19rem;
	}

	.program__header {
		display: block;
	}

	.program__days-list {
		margin-top: 2rem;
		justify-content: flex-start;
		gap: 2.5rem;
	}

	.program__event {
		flex-direction: column;
		flex-direction: column-reverse;

		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		gap: 1rem;
		justify-content: space-between;
		border-bottom: 1px solid var(--light-grey-color);
	}

	.program__event__title {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.program__event__title::before {
		display: none;
	}

	.program__event__speaker__position {
		font-size: 0.8rem;
		line-height: 1.25rem;
	}

	.program__event__date-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.blog__container {
		margin-top: 5rem;
	}

	.interview__header__wrapper {
		align-items: flex-end;
	}

	.media-only .section-nav-link {
		font-size: 1rem;
	}

	.interview__content__title {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.mobile-only {
		display: block;
	}

	.tablet-only {
		display: none;
	}

	.interview__content--media {
		background-image: url(../assets/images/main/interview/interview-mobile-image.png);
		margin-top: 2.5rem;
	}
}
