:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--beige-color: #f2efe8;
	--blog-green-color: #3b996d;
	--body-green-color: #01ac69;
	--dark-blue-color: #0b121c;
	--grey-color: #757575;
	--interview-black-color: #0f0f0f;
	--light-grey-color: #dadada;
	--common-green-color: #074d43;
	--transition: ease-out 0.1s;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--form-wrapper-pl: 15rem;
	--required-color: #e31e24;
	--label-subtitle-color: #858585;
	--grey-button-color: #f5f5f5;
}

.blog {
	padding-left: var(--main__section-pl);
	padding-top: 2rem;
}

.blog__pagination {
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: var(--section-wrapper-pl);
	padding-right: var(--section-wrapper-pr);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.blog__pagination__button {
	background-color: transparent;
	color: var(--black-color);
	border: none;
	outline: none;
	width: 3.125rem;
	height: 3.125rem;
	font-size: 1rem;
	cursor: pointer;
	transition: var(--transition);
}

.blog__pagination__button--active {
	background-color: var(--white-color);
}
