:root {
	--transition: ease-out 0.1s;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
	--form-wrapper-pl: 15rem;
}

.intervies-article .blog__container {
	grid-template-columns: 1;
	margin-top: 5rem;
}

.intervies-article .blog-article__media-container {
	padding-bottom: 5rem;
}
