:root {
	--padding-step: 3.4rem;
	--padding-small-step: 1.5rem;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
}

@media screen and (max-width: 1800px) {
	.popup__wrapper {
		padding-left: calc(var(--main__section-pl) + var(--section-wrapper-pl) - (var(--padding-step) * 1));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 1));
	}
}

@media screen and (max-width: 1600px) {
	.popup__wrapper {
		padding-left: calc(var(--main__section-pl) + var(--section-wrapper-pl) - (var(--padding-step) * 2));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 2));
	}
}

@media screen and (max-width: 1400px) {
	.popup__wrapper {
		padding-left: calc(var(--main__section-pl) + var(--section-wrapper-pl) - (var(--padding-step) * 3));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 3));
	}
}

@media screen and (max-width: 1250px) {
	.popup__wrapper {
		padding-left: calc(var(--main__section-pl) + var(--section-wrapper-pl) - (var(--padding-step) * 4));
		padding-right: calc(var(--section-wrapper-pr) - (var(--padding-step) * 4));
	}
}

@media screen and (max-width: 1100px) {
	.popup__wrapper {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step));
		padding-right: calc(var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step));
	}

	.popup__menu__nav {
		display: flex;
		flex-direction: column;
		gap: 5rem;
	}

	.popup__menu__list {
		gap: 1.5rem;
		font-size: 1.5rem;
	}
	.popup__menu__list--media {
		display: flex;
	}

	.popup__archive__list {
		gap: 1.25rem;
		font-size: 1rem;
	}

	.popup__archive__list__heading {
		font-size: 1rem;
	}
}

@media screen and (max-width: 600px) {
	.popup__wrapper {
		padding-left: calc(var(--section-wrapper-pl) - var(--padding-step) - var(--padding-small-step));
		padding-right: calc(
			var(--section-wrapper-pr) - var(--main__section-pl) - var(--padding-step) - var(--padding-small-step)
		);
	}

	.popup__body {
		flex-direction: column;
	}

	.popup__menu__nav {
		gap: 2rem;
	}

	.popup__menu__list,
	.popup__archive__list {
		font-size: 1rem;
		gap: 1rem;
	}

	.popup__archive__list {
		margin-top: 1rem;
		align-items: flex-start;
	}

	/* .onPopup .top-header__menu {
		gap: 2rem;
	} */
}
