:root {
	--beige-color: #f2efe8;
	--popup-color: #074d43;
	--transition: ease-out 0.1s;
	--main__section-pl: 13.75rem;
	--section-wrapper-pl: 7.5rem;
	--section-wrapper-pr: 21.25rem;
}

.popup__wrapper {
	height: 100%;
	padding-left: calc(var(--main__section-pl) + var(--section-wrapper-pl));
	padding-right: var(--section-wrapper-pr);
	display: none;
}

.onPopup .popup__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.onPopup .top-header__menu__link {
	color: var(--popup-color) !important;
}

.onPopup .header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-bottom: 5.5rem;
	padding-right: 0.5rem;
	background: var(--beige-color) !important;
}

.onPopup .top-header {
	background: var(--beige-color) !important;
}

.onPopup .top-header__content,
.onPopup .bottom-header,
.onPopup .main,
.onPopup .footer {
	display: none;
}

.popup__body {
	display: flex;
	justify-content: space-between;
}

.popup__menu__list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 1.875rem;
}

.popup__menu__list--media {
	display: none;
}

.popup__archive__list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1.7rem;
	font-size: 1.5rem;
}

.popup__archive__list__heading {
	color: var(--popup-color);
	font-weight: normal;
	font-size: 1.5rem;
}

.popup__list__item {
	list-style-type: none;
}

.popup__link {
	color: var(--popup-color);
	fill: var(--popup-color);
	text-decoration: unset;
	transition: var(--transition);
}

.popup__link:hover {
	color: #7dbbb3;
	fill: #7dbbb3;
}

.popup__link:active {
	color: #001f1c;
	fill: #001f1c;
}

.popup__footer__phone {
	font-size: 1.3125rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.popup__footer__phone__svg {
	height: 1.1rem;
	width: 1.1rem;
}
